
<div *ngIf="sampleOneToOne">
    <h2><span jhiTranslate="sampleProjectApp.sampleOneToOne.detail.title">Sample One To One</span> {{sampleOneToOne.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="sampleProjectApp.sampleOneToOne.sampleOne">Sample One</span></dt>
        <dd>
            <span>{{sampleOneToOne.sampleOne}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sample-one-to-one/'+ sampleOneToOne.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
